body {
  font-family: 'EB Garamond', serif;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../images/dandelion2.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom left;
  display: block;
  overflow: auto;
  background-color: #F2FDFF;
}

.navbar {
  background-color: rgb(111, 142, 151) !important;
  border: 2px solid black;
}

.header {
  width: 77%;
  margin: 0 auto;
}

.navbar-brand {
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 35px;
  color: black !important;
}


.home {
  margin-top: 50px;
  width: 75%;
  color: black;
  background-color: rgba(265, 265, 265, .8);
  border: 2px solid black;
  margin-bottom: 60px;
  display: block;
}

.portfolio {
  margin-top: 25px;
  margin-bottom: 60px;
}

.contact {
  margin-top: 50px;
  height: 500px;
  width: 60%;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 60px;
}

.aboutMenu {
  font-size: 18px;
}

.connect {
  margin: 0 auto;
}

.form {
  height: 30px;
}

#message {
  height: 50px;
}

.btn {
  font-size: 15px;
  border-color: black;
  background-color: rgb(111, 142, 151);
}

.fab {
  font-size: 50px;
  letter-spacing: 10px;
}

#olgaMain {
  width: 200px;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#bio {
  font-size: 20px;
}

.carousel-inner {
  height: 545px;
  background-color: rgba(10, 10, 10, 0.85);
  border: 5px solid rgb(111, 142, 151);
  padding-top: 20px;
  padding-bottom: 20px;
}

.d-block {
  height: 500px;
  text-align: center;
  margin: 0 auto;
}

.carousel-caption {
  height: 60px;
  color: rgb(106, 163, 168);
  background-color: rgba(10, 10, 10, 0.85);
  border: 2px solid rgb(111, 142, 151);
  padding: 0;
}

.imageTitle {
  margin: 0;
  font-size: 25px;
}

.links {
  display: inline;
  font-size: 15px;
  color: rgba(229, 193, 0, 0.75);
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 400px;
  background-color: rgb(111, 142, 151);
  border: 2px solid black;
}

.footerText {
  float: right;
  color: black;
  font-size: 15px;
  display: block;
}