body {
  font-family: 'EB Garamond', serif;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../images/dandelion2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom left;
  display: block;
  overflow: auto;
  background-color: #F2FDFF;
}

.navbar {
  background-color: rgb(111, 142, 151) !important;
  border: 3px solid #dbb4ab;
}

.header {
  width: 77%;
  margin: 0 auto;
}

.navbar-brand {
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 35px;
  color: black !important;
}

.home {
  margin-top: 50px;
  width: 75%;
  color: black;
  background-color: rgba(265, 265, 265, .6);
  border: 2px solid #dbb4ab;
  margin-bottom: 20px;
  display: block;
}

.portfolio {
  margin-top: 25px;
  margin-bottom: 150px;
}

.contact {
  margin-top: 50px;
  height: 500px;
  width: 60%;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 200px;
}

.aboutMenu {
  font-size: 20px;
}

a {
  color: black;
}

.connect {
  margin: 0 auto;
}

.form {
  height: 30px;
}

#message {
  height: 50px;
}

.btn {
  font-size: 15px;
  border-color: black;
  background-color: rgb(111, 142, 151);
}

.contact-btn {
  display: inline !important;
}

.fab {
  font-size: 50px;
  letter-spacing: 10px;
}

#olgaMain {
  width: 200px;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(219, 180, 171, 0), rgb(219, 180, 171, 0.75), rgba(219, 180, 171, 0));
}

#bio {
  font-size: 20px;
}

.portfolio-card {
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
}

.imageTitle {
  margin: 0;
  font-size: 25px;
}

.links {
  display: inline;
  font-size: 15px;
  color: rgba(219, 180, 171, 0.75);
}

.textTitle {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

.aboutText {
  padding: 5px;
  border: none;
}

.card {
  background-color: rgba(265, 265, 265, .6);
}

.aboutHr {
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 100px;
  background-color: rgb(111, 142, 151);
  border: 3px solid rgb(219, 180, 171);
}

.footerText {
  float: right;
  color: black;
  font-size: 15px;
  display: block;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(219, 180, 171);
}

a:active {
  text-decoration: none;
}

.navbar-toggler:hover {
  outline: 1px solid rgb(219, 180, 171);
  box-shadow: none;
}

.navbar-toggler:link, .navbar-toggler:visited, .navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

